<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Aefnet_Login_System.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
	<system.data>
		<DbProviderFactories>
			<remove invariant="MySql.Data.MySqlClient" />
			<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
		</DbProviderFactories>
	</system.data>
    <userSettings>
        <Aefnet_Login_System.My.MySettings>
            <setting name="id" serializeAs="String">
                <value />
            </setting>
            <setting name="sifre" serializeAs="String">
                <value />
            </setting>
            <setting name="beni_hatirla" serializeAs="String">
                <value>False</value>
            </setting>
        </Aefnet_Login_System.My.MySettings>
    </userSettings>
</configuration>
